.form-check-input {
    margin-top: 0.15em !important;
    &:checked {
        border-color: white !important;
        border-width: 2px !important;
        outline: $form-check-input-checked-bg-color solid 2px !important;
    }

    &[type="checkbox"]:indeterminate {
        border-color: white !important;
        border-width: 2px !important;
        outline: $form-check-input-checked-bg-color solid 2px !important;
    }
}